body {
    padding-top: 50px;
    padding-bottom:20px;
    background-image:url('/images/pattern.png');
    background-repeat: repeat;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-left .main {
    float: right;
}

.idebar-left .sidebar {
    float: left;
}

.sidebar-right .main {
    float: left;
}


.idebar-right .sidebar {
    float: right;
}